
h1,h2,h3,h4, p, span {
  margin: 0;
  margin-top: 0px;
  margin-bottom: 0px; 
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

  }
/**/
.app{
  width: 10;
  height: 100vh;
  background-size: cover; 

  background-position: center;
  padding: .5rem;
  overflow: hidden;
    justify-content: center;
  align-items: center;
  margin: auto;
   box-sizing: border-box;

  } 


/**/
.loading img{
  display: flex;
  width: 100%;
 }

/**/
.loading {
  /* background-color: red; */
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column; 
  width: 100%;
  box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.3);
  justify-content: center;
  align-items: center;
  padding: 5em;
}



/*contenedor recuadro interno del fondo*/
.container{
  /* background-color: rgba(255, 0, 0, 0.178); */
  display: flex;
  flex-direction: column;
  padding: 0rem ;
  justify-content: center;
  align-items: center;
 
  margin: auto;
  height: 90vh;
  gap: 1em;
} 



 
/*  *************************************       Titulo " WEATHER app"  W y R */



/*  Contenedor " WEATHER app"  */
.container__weather {
  /* background-color: rgb(176, 167, 219); */
  width: 100%;
  padding: 1em;
  display: grid;
  justify-content: center;
  text-align: center;
  /* margin-top: -20px; */
  
  }


/*Titulo " WEATHER app"  W y R */
.container__weather span{
  text-align: center;
  font-size: 3rem;
  color: rgb(179, 83, 14);

}
/*Titulo " WEATHER app  "eathe" */
.container__weather h1{
 margin-top: 1em;
  color: rgb(244, 141, 8);
  text-shadow: 2px 3px  5px rgb(0, 0, 0);
  font-size:2.2rem;
  font-weight: 1px;
}
/*  **  texto App  **  */
.container__weather h2{
  /* margin-top: 0%; */
  color: rgb(235, 172, 12);
  text-shadow: 2px 3px  5px rgb(0, 0, 0);
  font-size:1.5rem;
  font-weight: 2px;

}





/* *******FIN   Titulo " WEATHER app"  W y R */


/**************************************************************Titulo "Localidad "Rio Cuarto" y pais" */

/******* TITULO CIUDAD  ***********/
.title__city{
 /* margin: 5%; */
 background-color: rgba(194, 202, 209, 0.13);
  color: rgb(13, 13, 14);
  text-shadow: 1px 1px  3px  rgb(251, 250, 250);
  font-size:1.3rem;
  font-weight: 2px;
  margin-bottom: -0.5em;
  margin-top: -0.5em;
  padding: 3px 15px;
  border-radius: 10px;
}

/* contenedor DE BODY TOP CLIMA Y BODY BOTTON INFO*/
.container__body{
  /* background-color: rgb(81, 74, 88); */
  width: 100%;
display: flex; 
flex-direction: column;
gap: 1em;
}

.container__body-top{
  background-color: rgba(220, 220, 213, 0.441);
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: .5em;
  gap: .5em;
  border-radius: 25px;

}

/* contenedor texto estado del clima*/
.container__body-top-description{
  /* background-color: red; */
  text-align: center;
  color: rgb(243, 120, 6);
  text-shadow: 2px 3px  5px rgb(0, 0, 0);
  font-size:2rem;
  font-weight: 2px;


}

/* contenedor Temperatura  cel  °C y °F*/
.container__body-top-temper_icon{
  /* background-color: rgb(84, 173, 94); */
  display: flex;

}
/* texto grande Temperatura  cel 6.2°  ***  °C y °F*/
.temp__c_f{
/* background-color: rgb(115, 214, 108); */
width: 100%;
justify-content: center;
text-align: center;
margin: auto;
color: rgb(236, 169, 44);
  text-shadow: 2px 3px  5px rgb(0, 0, 0);
  font-size:2.3rem;
  font-weight: 2px;
  /* aspect-ratio: 1; */
  padding: 0em;
}


/* div icono del estado del tiempo grande*/
.icon__description{
  /* background-color: rgb(39, 35, 244); */
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1; 

}

/* icono del estado del tiempo grande*/
.icon__description img{
display: block;
width: 100%;
}

/*  #################################################################      */
/*  #################################################################      */
/*  #################################################################      */

/*contenedor de los 3 bloques de informacion*/
.container__info-weather {
  width: 100%;
  background-color: rgb(188, 182, 193);
  display: flex;
  overflow: hidden;
  justify-content: space-around;
  border-radius: 15px;

 padding: .5em;
 gap: .2em;
}


/*contenedor de un bloque de informacion*/
.info__weather{
/* background-color: rgb(237, 174, 86); */
padding: .3em;
text-align: center;
display: flex;
flex-direction: column;
box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.3);
width: calc(100%/3);
/* aspect-ratio: 1; */
}


/*contenedor del icono + dato*  recuadros info*/
.icon_data{
  /* background-color: rgb(233, 46, 40); */
  display: flex;
  padding: .0em;
  gap: .0em;
  justify-content:space-around;
  align-items: center;
  
  

}
/*icono represemntativo de la magnitus*/
/* .icon_data img{
background-color: red;
} */

/*valor de la magnitus de la info*/
.info__weather span{
  color: black;
  font-size: 1rem;
  font-weight: 600;
  overflow: hidden;
  /* background-color: rgb(66, 48, 199); */
  }
  
  /*unidades de medida de la info*/
  .info__weather h2{
    /* background-color: rgb(94, 182, 64); */
    font-size: 15px;
    font-weight: 800;
    }
  
  /*parametro del tiempo*/
    .info__weather h3{
    /* background-color: rgb(94, 182, 64); */
    font-size: 13px;
    
    }
    

    
.btn{
background-color:white;
color: blue;
border-radius: 25px;  
padding: .5em 1.5em; 
    }



/**************************************************************/
/********************************************/
/********************************************/
/********************************************/
/********************************************/
/********************************************/
/********************************************/
@media (min-width: 700px)  {
   
   
  .App{
     
      gap: .5rem;
      justify-content: center ;
      max-width: 1024; 
      
  }

  .container{
   
    padding: 1rem;
    justify-content: center;
    align-items: center;
    max-width: 1024PX;
    margin: auto;
  }
 
  
    /**/
   .card {
    background-color: rgba(144, 141, 141, 0.609); 
    padding:.5rem;
    /* width:80%; */
    margin: auto ;
    margin-top: 1rem;
    gap: 1rem;
    max-width: 500PX;
    max-height: 500px;
   }

 /* Titulo de la temperatura- Numeros*/
 .card__body h2{
  margin-top: 30px;
 color: rgb(241, 133, 10);
 font-size: 250%;
 text-shadow: 2PX 2PX 3px rgb(0, 0, 0);
}

/*Propiedades del boton*/
button{
  width: 150px;
font-size: 75%;
font-weight: bold;
color: rgb(213, 43, 43);
padding: 5px;
border: 1px solid var(--primary-color);
border-radius: 5px;   
box-shadow: 2PX 2PX 3px rgba(0, 0, 0, 0.3);
border-bottom: none;
margin-top: 25px;
}


}