
h1,h2,h3,h4, p, span {
  margin: 0;
  margin-top: 0px;
  margin-bottom: 0px; 
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

  }

/**/
.loading img{
  display: flex;
  width: 100%;
 }

/**/
.loading {
  /* background-color: red; */
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column; 
  width: 100%;
  box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.3);
  justify-content: center;
  align-items: center;
  padding: 5em;
}
/*  ##################################################     */
/*  ################  CONTEINERS  ##################     */
/*  ##################################################     */

/*  contenedor general con el fondo*/
.app{
  width: 10;
  height: 100vh;
  background-size: cover; 

  background-position: center;
  padding: .5rem;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  margin: auto;
  box-sizing: border-box;
  } 


/*contenedor recuadro interno del fondo*/
.container{
  /* background-color: rgba(255, 0, 0, 0.178); */
  display: flex;
  flex-direction: column;
  padding: 0rem ;
  justify-content: center;
  align-items: center;
 
  margin: auto;
  height: 90vh;
  gap: 1.5em;
} 



 
/*  *************************************       Titulo " WEATHER app"  W y R */



/*  Contenedor " WEATHER app"  */
.container__weather {
  /* background-color: rgb(176, 167, 219); */
  width: 100%;
  padding: 1em;
  display: grid;
  justify-content: center;
  text-align: center;
  margin-top: -20px; 
  
  }


/*Titulo " WEATHER app"  W y R */
.container__weather span{
  text-align: center;
  font-size: 3rem;
  color: rgb(179, 83, 14);

}
/*Titulo " WEATHER app  "eathe" */
.container__weather h1{
 margin-top: 1em;
  color: rgb(244, 141, 8);
  text-shadow: 2px 3px  5px rgb(0, 0, 0);
  font-size:2.2rem;
  font-weight: 1px;
}
/*  **  texto App  **  */
.container__weather h2{
  /* margin-top: 0%; */
  color: rgb(235, 172, 12);
  text-shadow: 2px 3px  5px rgb(0, 0, 0);
  font-size:1.5rem;
  font-weight: 2px;

}





/* *******FIN   Titulo " WEATHER app"  W y R */


/**************************************************************Titulo "Localidad "Rio Cuarto" y pais" */

/******* TITULO CIUDAD  ***********/
.title__city{

 background-color: rgba(194, 202, 209, 0.13);
  color: rgb(13, 13, 14);
  text-shadow: 1px 1px  3px  rgb(251, 250, 250);
  font-size:1.3rem;
  font-weight: 2px;
  margin-bottom: -0.5em;
  margin-top: -1.5em;
  padding: 3px 15px;
  border-radius: 10px;
}
/* ###############################################  */
/* ############  COMIENZO DEL BODY  ################  */
/* ###############################################  */
/* contenedor DE "BODY TOP"+ "BODY BOTTON" */
.container__body{
  /* background-color: rgb(81, 74, 88); */
  width: 100%;
display: flex; 
flex-direction: column;
gap: 1em;
}

/* contenedor GENERAL "BODY TOP" _____"CLIMA" + "TEMPERAT + iCONO CLIMA" */
.container__body-top{
  background-color: rgba(211, 211, 205, 0.272);
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1.5em  .5em;
  gap: .5em;
  border-radius: 25px;
}

/* texto estado del clima TAMAÑO GRANDE*/
.container__body-top-description{
  /* background-color: red; */
  text-align: center;
  color: rgb(243, 120, 6);
  text-shadow: 2px 3px  5px rgb(0, 0, 0);
  font-size:2rem;
  font-weight: 2px;


}

/* contenedor Temperatura NUMERO GRANDE + EL ICONO DEL CLIMA*/
.container__body-top-temper_icon{
  /* background-color: rgb(84, 173, 94); */
  display: flex;
  justify-content: center;
  padding: 1em;
}

/* texto grande Temperatura  NUMERO GRANDE  eJ. cel 6.2°  ***  °C y °F*/
.temp__c_f{
/* background-color: rgb(229, 175, 39); */
width: 100%;
justify-content: center;
text-align: center;
margin: auto;
color: rgb(236, 169, 44);
  text-shadow: 2px 3px  5px rgb(0, 0, 0);
  font-size:2rem;
  font-weight: 2px;
  /* aspect-ratio: 1; */
  padding: 0em;
}


/* div icono del estado del tiempo grande*/
.icon__description{
  /* background-color: rgb(39, 35, 244); */
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1; 

}

/* icono del estado del tiempo grande*/
.icon__description img{
display: block;
width: 100%;
}

/*  #################################################################      */
/*  ########################  SECCION DE INFORMACION  ###############      */
/*  #################################################################      */

/*contenedor #GENERAL# BODY BOTTON  3 bloques de informacion*/
.container__info-weather {
  width: 100%;
  background-color: rgba(186, 184, 187, 0.26);
  display: flex;
  overflow: hidden;
  justify-content: space-around;
  border-radius: 15px;

 padding: .7em .5em;
 gap: .2em;
}


/*contenedor de "** CADA **  bloque" de informacion*/
.info__weather{
background-color: rgba(183, 177, 170, 0.211);
padding: .5em .3em;
text-align: center;
display: flex;
flex-direction: column;
box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.3);
width: calc(100%/3);
/* aspect-ratio: 1; */
}

.info__weather:nth-child(1) {
  border-radius: 15px 0 0 15px;
}
.info__weather:nth-child(3) {
  border-radius:  0 15px 15px 0;
}


/*contenedor del icono + dato*  recuadros info*/
.icon_data{
  /* background-color: rgb(233, 46, 40); */
  display: flex;
  padding: .0em;
  gap: .0em;
  justify-content:space-around;
  align-items: center;
  
  

}
/*icono represemntativo de la magnitus*/
/* .icon_data img{
background-color: red;
} */

/*valor de la TEXTO magnitus de la info*/
.info__weather span{
  color: black;
  font-size: 1rem;
  font-weight: 600;
  overflow: hidden;
  /* background-color: rgb(66, 48, 199); */
  }
  
  /*unidades de medida de la info*/
  .info__weather h2{
    /* background-color: rgb(94, 182, 64); */
    font-size: 15px;
    font-weight: 800;
    }
  
  /*parametro del tiempo*/
    .info__weather h3{
    /* background-color: rgb(94, 182, 64); */
    font-size: 13px;
    
    }
    

    
.btn{
background-color:white;
color: blue;
border-radius: 25px;  
padding: .5em 1.5em; 
    }



/**************************************************************/
/********************************************/
/************                   *************/
/************   @ MEDIA QUERY   *************/
/************                   *************/
/********************************************/
/********************************************/

@media (min-width: 320px)  {
/*  CONTENEDOR GENERAL DESPUES DE App */
  .container{gap: 2rem; padding: .5em;}

  /* "valor numerico" de la TEXTO Ej."3.82" info*/
  .info__weather span{font-size: 1.5rem;}
  
  /* "unidades" de medida de la info*/
  .info__weather h2{font-size: 1.1em;}
  
  /*TEXTO eJ. "PRESURE" parametro del tiempo*/
    .info__weather h3{font-size: 1.1em;}

    /*  ############  BOTON CAMBIO CELSIUS A FARAD.  ################  */
    .btn{font-size: 1em; padding: .5em 1.5em;}
    /* texto grande Temperatura  NUMERO GRANDE  eJ. cel 6.2°  ***  °C y °F*/

/*numero de la temperatura en grande*/
  .temp__c_f{
  font-size: 2.2em;
  color: rgb(229, 110, 19);

}

@media (min-width: 400px)  {
/*  CONTENEDOR GENERAL DESPUES DE App */
.container{gap: 2.5rem;padding: 1em;}

/*numero de la temperatura en grande*/
.temp__c_f{
  font-size: 2.1em;
  color: rgb(229, 110, 19);

}


/* "valor numerico" de la TEXTO Ej."3.82" info*/
.info__weather span{font-size: 1.8rem;}

/* "unidades" de medida de la info*/
.info__weather h2{font-size: 1.3em;}

/*TEXTO eJ. "PRESURE" parametro del tiempo*/
  .info__weather h3{font-size: 1.3em;}

  /*  ############  BOTON CAMBIO CELSIUS A FARAD.  ################  */
  .btn{font-size: 1em; padding: .5em 1.5em;}
  }
  
/****************************************************************************************/
@media (min-width: 450px)  {
  /*  CONTENEDOR GENERAL DESPUES DE App */
  .container{gap: 3.5em; padding: 1.5em;}
  
/* contenedor GENERAL "BODY TOP" _____"CLIMA" + "TEMPERAT + iCONO CLIMA" */
.container__body-top{
 
  padding: 2em 0 ;
gap: 1.em; 
}


/*numero de la temperatura en grande*/
.temp__c_f{
  font-size: 2.1em;
  color: rgb(102, 51, 130);

}

}

    /*  ############  BOTON CAMBIO CELSIUS A FARAD.  ################  */
    .btn{font-size: 1em; padding: .5em 1.5em;}
  
  
  
  }
    
/****************************************************************************************/
  @media (min-width: 450px)  {
    /*  CONTENEDOR GENERAL DESPUES DE App */
    .container{gap: 3.5em; padding: 2.5em;}
  }



  /****************************************************************************************/
/****************************************************************************************/  
/*************************   (min-width: 650px )  *****************************************/  
/****************************************************************************************/  
/****************************************************************************************/


@media (min-width: 650px)  {
  /* ***************  CONTENEDOR PADRE *************** */ 
  .App{justify-content: center ;max-width: 1024;} 

/*  CONTENEDOR GENERAL DESPUES DE App */


.container{gap: 3.5em; padding: 5em 5.5em;}


/*  Contenedor " WEATHER app"  */
.container__weather {
  /* background-color: rgb(72, 48, 190); */
  
  display: grid;
  grid-template-rows: auto; /* Altura automática */
  grid-auto-flow: column; /* Coloca los elementos en una fila */
  
  padding: 1em;
  gap: 10px; /* Espacio entre los títulos  */
  margin-top: 2em;
 
  }
 
.container__weather h2{align-self:last baseline;padding: .5em;}


.container__body{
  /* background-color: rgb(81, 74, 88); */
  width: 100%;
display: flex; 
flex-direction: row;
padding: 0 9em;
gap: 1em;
}

/*contenedor #GENERAL# BODY BOTTON  3 bloques de informacion*/
.container__info-weather {

background-color: rgba(252, 37, 9, 0.979);
display: flex;
flex-direction: column;
width: 30%;
padding: .5em;
}
 

/*contenedor de "** CADA **  bloque" de informacion*/
.info__weather{
  width: 100%;
  background-color: rgba(243, 140, 23, 0.72);
  padding: .5em .3em;
  text-align: center;
  display: flex;
  flex-direction: column;
  box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.3);
  width: calc(100%/3);

  
  }
  
  .info__weather:nth-child(1) {
    width: 100%;
    border-radius: 15px 15px 0 0px;
  }
  .info__weather:nth-child(2) {
    border-radius:  0 0 0 0;
    width: 100%;
  }
  .info__weather:nth-child(3) {
    border-radius:  0 0px 15px 15px;
    width: 100%;
  }

/* contenedor GENERAL "BODY TOP" _____"CLIMA" + "TEMPERAT + iCONO CLIMA" */
.container__body-top{
  background-color: rgba(208, 208, 27, 0.272);
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 3.5em  .5em;
  gap: 2em;
  border-radius: 25px;
}





 
  
   
}